body{
   margin: 0%;
   padding: 0%; 
}
.project h3{
    
    color: black;
    font-size: 4.5vw;
    padding-top: 8%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.project1{
    position: absolute;
    width: 70%;
    right: 15%;
}
.project1-1{
    position: relative;
    right: -21.2%;
    margin-top: 1.7%;
    width: 57.5%;
}
.project-two{
    margin-top: 10%;
}
.project2{
    position: absolute;
    width: 70%;
    right: 15%;
}
.project2-1{
    position: relative;
    right: -21.2%;
    margin-top: 1.7%;
    width: 57.5%;
}
.project-three{
    margin-top: 10%;
}
.project3{
    position: absolute;
    width: 70%;
    right: 15%;
}
.project3-1{
    position: relative;
    right: -21.2%;
    margin-top: 1.7%;
    width: 57.5%;
}
