body{
   margin: 0%;
   padding: 0%; 
}
.project h2{
    color: black;
    font-size: 2.5vw;
    padding-top: 8%;
    padding-bottom: 5%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.project p {
    font-size: 2vw;
}
.project1{
    width: 70%;
}
.project1-1{
    width: 30%;
    position: static;
    margin-bottom: 10%;
}
.project-one{
    margin: 5%;
    padding: 0 5% 5% 5%;
    border: 1px solid gray;
}
.project-two{
    margin: 5%;
    padding: 0 5% 5% 5%;
    border: 1px solid gray;
}
.project2{
    width: 70%;
}
.project2-1{
    width: 30%;
    position: static;
    margin-bottom: 10%;
}
.project-three{
    margin: 5%;
    padding: 0 5% 5% 5%;
    border: 1px solid gray;
}
.project3{
    width: 70%;
}
.project3-1{
    width: 30%;
    position: static;
    margin-bottom: 10%;
}
.projectIos{
    margin: 5%;
    padding: 0 5% 5% 5%;
    border: 1px solid gray;
}
.projectIosHome{
    width: 40vh;
    margin-left: 13%;
}
.projectIosCart{
    width: 40vh;
    margin-left: 13%;
}
@media screen and (max-width: 768px){
    .project h2{
        margin-top: 5%;
        font-size: 3.5vw;
    }
    .project h3{
       font-size: 4vw; 
    }
    .project1{
        width: 100%;
    }
    .project1-1{
        width: 100%;
    }
    .project2{
        width: 100%;
    }
    .project2-1{
        width: 100%;
    }
    .project3{
        width: 100%;
    }
    .project3-1{
        width: 100%;
    }
    .project p {
        font-size: 3.5vw;
        text-align: justify;
    }
    .projectIosHome{
        width: 40vh;
        margin: 0% 0% 0% 5%;
        padding: 0;
    }
    .projectIosCart{
        width: 40vh;
        margin: 0% 0% 0% 5%;
        padding: 0;
    }
}