.skills h3{
    background: linear-gradient(rgb(226, 144, 20), gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5vw;
    position: relative;
    text-align: center;
    font-family: 'Inconsolata', monospace;;
}
.iconsLenguajes{
    width: 14%;
    padding: 3%;
}
p{
    font-family: 'Inconsolata', monospace;;
    font-size: 2.5vw;
    justify-content: center;
    text-align: center;
}