.contactForm{
    position: relative;
    font-size: 2.5vw;
    margin-top: 10%;
}
.contactForm input{
    position: relative;
    font-size: 1.7vw;
}
.formInput{
    position: relative;
    width: 20%;
    background: linear-gradient(white, rgb(208, 198, 198)) ;;
    margin-top: 0.5%;
    margin-left: 9%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 60%;
    font-family: 'Raleway', sans-serif;
    border: 3px solid salmon;
}
.formInputMessage{
    background: linear-gradient(white, rgb(208, 198, 198)) ;;
    position: relative;
    width: 20%;
    margin-top: 0.5%;
    margin-left: 9%;
    padding-left: 1%;
    padding-bottom: 10%;
    padding-top: 1%;
    padding-right: 60%;
    font-family: 'Raleway', sans-serif;
    border: 3px solid salmon;
}
.submit{
    margin-top: 3%;
    margin-left: 12%;
    padding: 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2vw;
}
.submit:hover{
    color: salmon;
}
@media screen and (max-width: 768px){
    .contactForm input{
        font-size: 3.6vw;
    }
    .contactForm button{
        padding: 2%;
        margin-top: 10%;
        margin-bottom: 6%;
        margin-left: 42%;
        font-size: 4.0vw;
    }
    .contactForm{
        position: relative;
        padding-top: 10%;
    }
    .formInput{
        margin-left: 8%;
        margin-bottom: 2%;
    }
    .formInputMessage{
        margin-left: 8%;
    }
}