.contactForm{
    padding-top: 10%;
    position: relative;
    font-size: 2.5vw;
}
.contactForm input{
    position: relative;
    font-size: 2.1vw;
}
.formInput{
    margin-left: 10%;
    margin-top: 0.5%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 60%;
    font-family: 'Inconsolata', monospace;;
}
.formInputMessage{
    margin-left: 10%;
    margin-top: 0.5%;
    padding-left: 1%;
    padding-bottom: 10%;
    padding-top: 1%;
    padding-right: 60%;
    font-family: 'Inconsolata', monospace;;
}
.submit{
    margin-top: 3%;
    margin-left: 12%;
    padding: 1%;
    font-family: 'Inconsolata', monospace;;
    font-size: 2.4vw;
}