.endPage a:hover{
    color: coral;
}
.footer{
    margin-top: 0%;
    margin-bottom: 2%;
}
.footer a{
    font-size: 1.3vw;
}
.footer p{
    font-size: 1.3vw;
}
@media screen and (max-width: 768px){
    .footer a{
        font-size: 2.3vw;
    }
    .footer p{
        font-size: 2.3vw;
    }
    .footer{
        margin-bottom: 5%;
    }
}
.iconsFooter{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 4%;
    margin-top: 2%;
    font-size: 2.2vw;
}